// Basic
$clr-white: #f4f5f0;

$clr-gray-light: #e6e6e6;
$clr-gray-medium: #dadada;
$clr-gray-dark: #2a2b2e;

// Brand
$clr-brand-1: #bfcad6;
$clr-brand-2: #00539c;
$clr-brand-3: #2a3244;
$clr-brand-4: #576664;

$clr-brand-5: #0b5369;
$clr-brand-6: #574d35;
$clr-brand-7: #652532;


$clr-primary: $clr-brand-2;

// Utility
$clr-success: $clr-brand-5;
$clr-alert: $clr-brand-6;
$clr-warning: $clr-brand-7;
