@import url('https://fonts.googleapis.com/css?family=Ubuntu');

// System Font Stack
@font-face {
  font-family: 'System Font';
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
