%linked {
  cursor: pointer;
  padding: 1em 2.5em;
  transition: all 0.4s;

  &:hover {
    // box-shadow: inset 0 0 2rem rgba($clr-gray-dark, 0.2);
    background: shade($btn-default-color, 5%);
    text-decoration: none;
  }

  &:active {
    box-shadow: inset 0 0 1.5rem rgba($clr-gray-dark, 0.3);
    background: shade($btn-default-color, 5%);
  }
}

%clearfix {
  @include clearfix;
}

%text-indent {
  text-indent: -333em;
}

.screen-reader-text,
.assistive-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;

  &:hover,
  &:active,
  &:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar */
  }
}

.screen-reader-text-only {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
