RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

AuthUserFile /home/sites/www.seek-athletics.com/web/.htpasswd
AuthName Admin
AuthType Basic
Require user seek
AuthGroupFile /home/sites/www.seek-athletics.com/web/.group
