.nav {
  padding: 2rem 0;
}

.nav-list {
  display: flex;
  justify-content: center;

  @include mq-min($bp-tablet-p) {
    justify-content: flex-end;
  }
}

.nav-item {
  font-size: 2rem;

  &:not(:last-child) {
    margin-right: 3rem;
  }
}

.nav-item-link {
  @include text-hover();

  color: $clr-white;
  text-transform: uppercase;
}
